body{background-image:url("image/Blue-Triangles-l.jpg");
	}
.one   	{font-size:40px;
          text-align: center;
	      font-family:Time New Romans;
		  border:none;
          background-color:#000419;
          border-style:None;
		  padding: 0px 100px 100px 0 px;
		  color:red;
		}

.name1	{font-size:30px; 
		font-weight:bold;
		text-align:center;
		}

.roomname	{text-align: center;
			font-family:Time New Romans;
			}

.hoteltype	{text-align: center;
			font-family:Time New Romans;
			}
		
.roomprice	{text-align: center;
			font-family:Time New Romans;
			}
		
.image1	{text-align:center; 
		}

.submit1{text-align:center; 
		}
	
.update1{font-size:30px;
		font-weight:bold;
		text-align:center;
		}
