body{ 
     background-image:url("image/blue-neon-cityscape-blue-34674370-1920-1200.jpg");
	 background-repeat: no-repeat;
	 background-size: 2000px 2000px;
	 }
	 
	 
     div.one   {font-size:40px;
          text-align: center;
	      font-family:Time New Romans;
		  border:none;
          background-color:black;
          border-style:None;
		  padding: 0px 100px 100px 0 px;
		  color:red;
		}
	.button {
		background-color: #4CAF50;
		float:right;
		border: none;
		color: #fff;
		padding: 5px 20px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		cursor: pointer;
		border-radius: 15px;
			}
			.button:hover {background-color: #3e8e41}

			.button:active {
			background-color: #3e8e41;
			box-shadow: 0 5px #666;
			transform: translateY(4px);
		}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
				
     .section {
				background-image:url("image/13265401-Brick-wall-Vintage-texture-in-yellow-brown-tones--Stock-Photo.jpg");
				width:auto;
				height:auto;
				
				padding:10px;
				margin:50px 100px 0px 50px;
				}
	
				
	 .footer {
				background-color:#000419;
				clear:both;
				text-align:left;
				padding: 0px 0px 30px 0px
				}
	.tgif      {color:white;
			 font-size:50px;
			 font-family:Arial;
			 margin-left:10px; 
             padding:30px 50px 0px 50px;				 
			}				
	 .done{color:white;
			 font-size:16px;
			 font-family:Arial;
			 margin-left:10px; 
			}			 
			
	 .member{
			 color:white;
			 font-size:12px;
			 font-family:Arial;
			 margin-left:10px; 
			 }
	            
