body{
    background-image:url("image/sunset register.jpg");
	 background-size: cover;
	 background-repeat: no-repeat;
	
	}

.divregister 
{
	background-color: grey;
	height: auto;
    width: auto;
	border-style:outset;
	background-color:rgba(192,192,192,0.4);
	

	
}

p
{
	font-style: oblique;

}

tr
{
	font-weight: bold;
	font-size: 140%;
	font-style: italic;
}

	
	
